.container {
    text-align: center;

    h1, p {
        margin: 1.3rem;
    }

    .about-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #919198;
        padding: 1.3rem;

        .js-marquee {
            overflow: hidden;
            width: 80vw;
            height: 20vh;
            background-color: #919194;
            position: relative;
        }

        // .js-marquee::before, .js-marquee::after {
        //     position: absolute;
        //     top: 0;
        //     width: 10rem;
        //     height: 100%;
        //     content: "";
        //     z-index: 1;
        // }

        // .js-marquee::before {
        //     left: 0;
        //     background: linear-gradient(to right, #919199 0%, transparent 100%);
        // }
        
        // .js-marquee::after {
        //     right: 0;
        //     background: linear-gradient(to left, #919199 0%, transparent 100%);
        // }

        .marquee-content {
            display: flex;
            list-style: none;
            height: 100%;
            animation: scrolling 10s linear infinite;
    
            li {
                // border: 3px solid teal;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20vw;
                flex-shrink: 0;
                font-size: 5rem;
                white-space: nowrap;
            }
        }

        .marquee-content:hover {
            animation-play-state: paused;
        }
    }
}