@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'hero';
@import 'header';
@import 'media';
@import 'animations';
@import 'footer';
@import 'about';

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    // width: 100%;
    // overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;

    // Name
    .highlighted {
        color: #e31b6d;
    }

    a {
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
    }
}